{% load staticfiles %}
<!--DOCTYPE html -->
<html>

<head>
<title>Iakovos Belonias</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel='stylesheet' href='{% static "css/home.css" %}' />

<link rel="shortcut icon" type="image/png" href='{% static "img/favicon.ico" %}'/>

</head>
<body>

  <div class="container">
    <div class="page-header">
      <!--
      <div class="clearfix float-my-children">
      <img alt="iakovos belonias" src="{% static "img/timeline/102.png" %}">
    <div><h1 class="timeh">Iakovos Belonias</h1></div>
  </div>< -->

      <div class="bs-callout bs-callout-danger">
        <div class="clearfix float-my-children">
        <img alt="iakovos belonias" src="{% static "img/timeline/102.png" %}">
      <div><h1 class="timeh">Iakovos Belonias</h1></div>
    </div>
        <h4>Building stuff with code</h4>

        <p>I am a full stack web developer with experience across a wide range of problem domains. My preferred web framework is Django
        </p>
        <p>I focus on producing secure and maintainable code and it's important to me to think through the implications of adding new features to a code base before the edge cases have to be discovered the hard way.
        </p>
        <p>I am comfortable with system and database admin, server side programming, front end development in Javascript, and of course HTML and CSS.
        </p>
            <ul class="timeline2">
              <li class="timeline2"><a href="posts"><img alt="blog" src="{% static "img/timeline/blog.png" %}"></a></li>
              <li class="timeline2"><a href="https://github.com/Belonias"><img alt="github" src="{% static "img/timeline/git.png" %}"></a></li>
              <li class="timeline2"><a href="https://www.facebook.com/belonias"><img alt="facebook" src="{% static "img/timeline/facebook.png" %}"></a></li>
              <li class="timeline2"><a href="mailto:iakovosbelonias@gmail.com"><img alt="mail" src="{% static "img/timeline/mail.png" %}"></a></li>
            </ul>

        </p>
      </div>

    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-badge"><img alt="python" src="{% static "img/timeline/python.png" %}"></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Python</h4>
            <p><small class="text-muted"></small></p>
          </div>
          <div class="timeline-body">
            <p>Developed web-based applications using Python and Django for large dataset analysis
            </p>
            <p>Designed robust, scalable, secure, and globalized web-based applications
            </p>
            <p>Really enjoy teaching programming & application development to anyone looking to become a developer.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge warning"><img alt="server" src="{% static "img/timeline/server.png" %}"></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Servers</h4>
          </div>
          <div class="timeline-body">
            <p>Managing large servers hosted with Linode, AWS, Rackspace, Serverloft, Softlayer, Digital Ocean, Heroku, and others. Complete setup of infrastructure, debugging malfunctioning components, tweaking configuration, planning, scaling, monitoring and backup.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge danger"><img alt="linux" src="{% static "img/timeline/linux.png" %}"></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Linux</h4>
          </div>
          <div class="timeline-body">
            <p>
              Setting up and configuring server from scratch (Ubuntu and Debian) on a host of your choice or one of my favourite, walking you through server maintenance, where to find things, why, best practices, own experience, debugging, scaling. LDAP server, mail server, CDN server, load balancing, server monitoring.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge front"><img alt="linux" src="{% static "img/timeline/bootstrap.png" %}"></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Bootstrap</h4>
          </div>
          <div class="timeline-body">
            <p>Over the last few years I have put a lot of work into my CSS3 and HTML5 understanding including responsive design. I use twitter bootstrap to streamline this process for many apps.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge angularjs"><img alt="angularjs" src="{% static "img/timeline/angularjs.png" %}"></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Angularjs</h4>
          </div>
          <div class="timeline-body">
            <p>My favorite tool I picked up angular in the past year. I am only moderately experienced, but have enough familiarity to troubleshoot issues.Most of complex projects with rich UI implement with angularjs now.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge front"><!--<img alt="linux" src="{% static "img/timeline/linux.png" %}">--></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">UpcomingProject</h4>
          </div>
          <div class="timeline-body">
          </div>
        </div>
      </li>
    </ul>
  </div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
