h1 {
  color: #777777;
  font-family: 'Ubuntu', sans-serif;
}
p {font-family: 'Ubuntu', sans-serif;}

.container {
  word-break: break-all;
}

.wmd_panel {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
