h1 {
  color: #777777;
  font-family: 'Ubuntu', sans-serif;
}
p {font-family: 'Ubuntu', sans-serif;}

.container {
  word-break: break-all;
}

.wmd-panel {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.timeline2 {
  list-style-type: none;
  display: inline;
}
